

input{
    border: 2px solid black;
    border-radius:6px;
}

select{
    background-color: lightgray;
    width: 20%;
    padding: 10px;
    border-radius: 4px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 5px; */
}