 input{
    border: 2px solid black;
    border-radius:6px;
}

select{
    background-color: lightgray;
    width: 20%;
    padding: 10px;
    border-radius: 4px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 5px; 
} 

.btn:hover,
.btn:focus {
  background: #272eb5
}

.btn {
    margin-top: 1rem;
    background: #3740ff;
    color: #fff;
    border: none;
    padding: 0.6rem;
  }